<ion-view view-title="Registro">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div style="display: flex;
    justify-content: center;
    margin-bottom: 34px;
    margin-top: 7px;">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Logo&w=250&h=100" alt="">
        </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="Nombre" ng-model="registro.userData.nombre">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="registro.userData.correo">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Clave</span>
                <input type="password" placeholder="Clave" ng-model="registro.userData.clave">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Repetir Clave</span>
                <input type="password" placeholder="repetir clave" ng-model="registro.userData.reClave">
            </label>
            <button class="button button-block button-outline button-positive" ng-click="registro.nuevoUsuario()">
                Crear cuenta
            </button>
        </div>
    </ion-content>
</ion-view>