<ion-view view-title="{{ item.data.titulo }}">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{ item.data.logo }}">
                <h2>{{ item.data.titulo }}</h2>
                <p>{{ item.data.release }}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{ item.data.poster }}">
                <p>{{ item.data.descripcion }}</p>
                <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">
                Temporadas
            </div>
            <div class="list card">
                <a class="item item-icon-left" ng-repeat="temporada in item.data.temporadas" ng-click="item.verTemporada(temporada)">
                    <i class="icon ion-film-marker"></i>
                    {{ temporada.titulo}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>